html, body, h1, h2, h3, p, ol, ul, li, a, textarea {
  padding: 0; border: 0; margin: 0;
  font-family: 'Lucida Grande', Arial, "Liberation Sans", "Droid Sans", Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  color: #000;
}

.floatleft { float: left }
.floatright { float: right }
.clear { clear: both }

.alignleft { text-align: left; }
.alignright { text-align: right; }
.aligncenter { text-align: center; }

.font-10 { font-size: 10px; line-height: 13px; }
.font-12 { font-size: 12px; line-height: 14px; }
.font-14 { font-size: 14px; line-height: 18px; }
.font-20 { font-size: 20px; line-height: 24px; }
.font-28 { font-size: 28px; line-height: 32px; }

.bold { font-weight: bold; }

.full-width { width: 100%; }

.section { margin-top: 60px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-top-15 { margin-top: 15px; }

/* type specific */
a.clean { color: inherit; text-decoration: inherit }
a.default { color: #4F4F4F; text-decoration: none;}
a.default:hover { text-decoration: underline; }
a.selected { text-decoration: underline !important; }

ul.no-bullets { list-style-type: none }

textarea.clean { outline: none; resize: vertical; box-sizing: border-box; }
input.clean { outline: none; }

/* master */
body { background-color: #fff; }
.nav-bar { margin-top: 10px; }
.menu { margin-top: 10px; }
.error { color: red;}
.success { color: green; }
.page { width: 590px; margin: 0 auto; }
.popular-hashtags { margin-top: 5px; }
.popular-hashtags-count { color: #BBB; }

.link { color: #008CFF !important; }

/* entries */
.entry-item { margin-bottom: 20px; border: 1px solid #EEE; padding: 15px;}
.entry-header { color: #C9C9C9; margin-bottom: 5px; }
.entry-footer { color: #A9A9A9; margin: 5px 0px 10px 0px; }
.entry-header p, .entry-footer p { color: inherit; }
.entry-header a, .entry-footer a { color: inherit; font-weight: bold; }

/* comments */
.comments { margin-top: 20px; }
.comment-item { margin-bottom: 20px; border: 1px solid #DDD; padding: 15px; background-color: #EEE; }
.comment-date { color: #777; }
.comment-content { margin-top: 8px; }
.comment-actions { color: #777; }

/* votebox */
.votebox { box-sizing: border-box; padding: 5px 8px; }
.votebox-option { padding: 2px; }
.votebox-option:last-child { padding-right: 0px; }
.votebox-up { color: green !important; }
.votebox-down { color: red !important; }
.votebox button { padding: 4px !important; }

/* forms */
form.add-entry textarea, form.add-comment textarea {
  color: #4F4F4F;
  height: 120px;
  margin: 20px 0px 10px 0px;
  border: 1px solid #EEE;
  padding: 15px;
}

form.add-comment { border-top: 1px solid #C8C8C8; }

/* 404 */
.icon-404 { font-size: 60px; margin-top: 200px; }

/* pagination */

.pagination {
  padding: 5px 0px 5px 0px;
}

.pagination-button {
  padding: 5px;
  border: 1px solid #DDE;
  color: #999 !important;
  box-sizing: border-box;
}

.pagination-button:hover {
  text-decoration: none !important;
  color: #333 !important;
  background-color: #DDD;
}

.pagination-selected {
  color: #008CFF !important;
  font-weight: bold;
  background-color: #EEE;
}
