html, body, h1, h2, h3, p, ol, ul, li, a, textarea, table, td, tr, button {
  padding: 0; border: 0; margin: 0;
  font-family: 'Lucida Grande', Arial, "Liberation Sans", "Droid Sans", Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  color: #000;
  background-color: transparent;
}

/* general helpers */
.floatleft { float: left; }
.floatright { float: right; }
.clear { clear: both; }

.alignleft { text-align: left; }
.alignright { text-align: right; }
.aligncenter { text-align: center; }

.font-10 { font-size: 10px; line-height: 16px; }
.font-12 { font-size: 12px; line-height: 14px; }
.font-14 { font-size: 14px; line-height: 18px; }
.font-20 { font-size: 20px; line-height: 24px; }
.font-28 { font-size: 28px; line-height: 32px; }

.bold { font-weight: bold; }

.full-width { width: 100%; }

.section { margin-top: 60px; margin-bottom: 10px; }
.margin-top-5 { margin-top: 5px !important; }
.margin-top-15 { margin-top: 15px !important; }
.margin-bottom-15 { margin-bottom: 15px !important; }

/* type specific */
a.clean { color: inherit; text-decoration: inherit }
a.default { color: #4F4F4F; text-decoration: none;}
a.default:hover { text-decoration: underline; }
a.selected { text-decoration: underline !important; }

ul.no-bullets { list-style-type: none }

textarea.clean { outline: none; resize: vertical; box-sizing: border-box; }
input.clean { outline: none; }

/* master */
body { background-color: #FAFAFA; }
.nav-bar { margin-top: 10px; }
.menu { margin-top: 10px; }
.error { color: red;}
.success { color: green; }
.page { width: 590px; margin: 0 auto; }

.popular-hashtags { font-size: 13px; line-height: 20px; }
.popular-hashtags a { margin: 0px 2px 0px 4px; }
.popular-hashtags-count { color: #BBB;}

.recommended-hashtags a:first-child { margin-left: 0px; }
.recommended-hashtags a { margin: 0px 5px 0px 5px; }

.border-default { border: 1px solid #EAEAEA; }
.border-shadow {
  border: 1px solid #EAEAEA;
  border-top-width: 0.5px;
  border-bottom-width: 2.5px;
  border-bottom-color: #F0F0F0;
}

.link { color: #008CFF !important; }

/* entries and comments */
.posted {
  padding: 8px;
  margin-top: 15px;
  background-color: #fff;
}

.posted:first-child { margin-top: 0px; }
.posted:last-child { margin-bottom: 15px; }
.posted .header td { vertical-align: top; }
.posted .header .author { color: #999999; }
.posted .header .date { color: #CCCCCC; }
.posted .header .votebox button { padding: 4px 5px; border: 1px solid #E5E5E5; }
.posted .header .votebox button:hover { background-color: #F1F1F1; }
.posted .header .votebox button:active { background-color: #E5E5E5; }
.posted .header .votebox .votebox-up { color: green; }
.posted .header .votebox .votebox-down { color: red; }
.posted .footer a { color: #999999 !important; }
.posted .show-on-hover { display: none; }
.posted:hover .show-on-hover { display: block; }

/* original poster elements */
.op { border: 2px solid #FF6534 !important;}
.op .author { color: #FF6534 !important; font-weight: bold; }

.you { border: 2px solid #7FB191 !important; }
.you .author { color: #7FB191 !important; font-weight: bold; }

.op-posted-color { color: #FF6544; }
.you-posted-color { color: #7FB191; }
.def-posted-color { color: #EAEAEA; }


/* forms */
form input[type="submit"] {
  padding: 4px 5px;
  background-color: transparent;
  border: 1px solid #E5E5E5;
  margin: 0;
}

form textarea {
  color: #4F4F4F;
  margin: 20px 0px 10px 0px;
  border: 1px solid #EEE;
  padding: 15px;
}

form.add-entry textarea, form.add-comment textarea {
  height: 120px;
}

form.new-op-user-token { display: none; }
form.new-op-user-token textarea {
  height: 24;
  padding: 5px;
  margin: 0;
  resize: none;
  line-height: 12px;
}

form.add-comment { border-top: 1px solid #C8C8C8; }

/* 404 */
.icon-404 { font-size: 60px; margin-top: 200px; }

/* pagination */

.pagination {
  padding: 5px 0px 5px 0px;
}

.pagination-button {
  padding: 5px;
  color: #999 !important;
  box-sizing: border-box;
}

.pagination-button:hover {
  text-decoration: none !important;
  color: #333 !important;
  background-color: #DDD;
}

.pagination-selected {
  color: #008CFF !important;
  font-weight: bold;
  background-color: #EEE;
}
