{% extends 'user/master_layout.html' %}

{% block body %}

{% if error %}
  <p class="margin-top-15 margin-bottom-15 error">{{ error }}</p>
{% endif %}

{% if success %}
  <p class="margin-top-15 margin-bottom-15 success">{{ success }}</p>
{% endif %}

<form id="add-entry-form" method="POST" class="add-entry">
  <textarea id="content" class="clean alignleft font-14 full-width" name="content" placeholder="O czym myślisz?" autofocus>{{ content }}</textarea>
  <div class="alignright">
    <input class="font-14 bold" type="submit" value="Dodaj">
  </div>

  <div class="add-entry-hint">
    <p class="margin-top-5">Strona wykorzystuje ciasteczka, aby przechowywać wygenerowany
      <span class="bold">osobisty token</span>, dzięki któremu twoje komentarze w twoich wpisach
      oznaczane są innym kolorem.</p>

    <p class="margin-top-5">Dzięki temu inni użytkownicy mogą mieć pewność, że
      dany <span class="bold">komentarz należy do autora wpisu</span> i nikt pod
      niego się nie podszywa, lecz autor wciąż <span class="bold">pozostaje anonimowy</span>.</p>

    <p class="margin-top-5">Token ten generowany jest dla każdej przeglądarki internetowej.
      Jeśli będziesz korzystał z innej przeglądarki lub urządzenia, będziesz musiał
      skopiować i przenieść token na drugie urządzenie/przeglądarkę, aby
      nadal być rozpoznawanym jako autor wpisu, który komentujesz.</p>
    <p class="margin-top-5 bold">Twój token:</p>
  </div>
  <textarea id="op-token" class="clean alignleft font-12 full-width" name="op_token" placeholder="Twój token">{{ op_token }}</textarea>
</form>

{% endblock %}
