{% extends 'user/master_layout.html' %}
{% block body %}

<div class="section font-14">
  <p class="bold">Czy potrzebuję założyć konto, aby się wyspowiadać?</p>
  <p class="margin-bottom-15">Nie potrzebujesz zakładać konta.</p>

  <p class="bold">Dlaczego moje wpisy nie są widoczne od razu?</p>
  <p class="margin-bottom-15">Na obecnym etapie wszystkie wpisy są akceptowane przez moderację. Prosimy o cierpliwość :)</p>

  <p class="bold">Czy mogę załączać obrazki albo filmy?</p>
  <p class="margin-bottom-15">Obecnie szafa nie wspiera załączania jakichkolwiek plików. Możesz jednakże dodać do wpisu link do zdjęcia lub filmu.</p>

  <p class="bold">Po co powstała szafa?</p>
  <p>Szafa powstała po to, abyś mógł/mogła anonimowo wyspowiadać się i wziąć udział w dyskusji pod wpisami.
    Dzięki szafie możesz wyspowiadać się i pozostać anonimowym!</p>
  <p>Projekt zainspirowany fragmentem filmu "Miś" i odsłuchiwaniem spowiedzi nagrywanych za pomocą szafy :)</p>
</div>
<p class="section">
  <iframe style="width: 100%; height: 450px;" src="https://www.youtube.com/embed/fWlfG24Uix4" frameborder="0" allowfullscreen></iframe>
</p>

{% endblock %}

<!-- <p class="bold">Pytanie</p>
<p class="margin-bottom-15">Odpowiedz</p> -->
