{% macro render_entries(entries) -%}
  {% if entries|length > 0 %}
    <ul class="entries section no-bullets">

      {% for entry in entries %}
        <li class="entry-item">
          <div class="entry-header font-12">
            <p class="entry-author floatleft alignleft bold">( ͡º ͜ʖ͡º)</p>
            <p class="entry-date floatright alignright">{{ entry.date }}</p>
            <div class="clear"></div>
          </div>
          <p class="alignleft font-14">{{ entry.content|safe }}</p>
          <div class="entry-footer font-12">
            <p class="floatright alignright"><a class="default" href="{{ url_for('show_entry', entry_id=entry.object.id) }}">Odpowiedzi: {{ entry.comments_count }}</a></p>
          </div>
        </li>
      {% endfor %}

    </ul>
  {% else %}
    <p class="margin-top-15 margin-bottom-15 font-14">Brak wpisów</p>
  {% endif %}
{%- endmacro %}

{% macro render_comments(comments) -%}
  {% if comments|length > 0 %}
  <ul class="comments no-bullets">
    {% for comment in comments %}
    <li class="comment-item">
      <div class="comment-header font-12">
        <p class="comment-author floatleft alignleft bold">( ͡º ͜ʖ͡º)</p>
        <p class="comment-date floatright">{{ comment.date }}</p>
        <!-- <p class="comment-votebox floatright font-12">+ 10 -</p> -->
        <div class="clear"></div>
      </div>
      <p class="comment-content font-14">{{ comment.content|safe }}</p>
      <p class="comment-actions alignright font-12"></p>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p class="margin-top-15 margin-bottom-15 font-14">Brak komentarzy</p>
  {% endif %}
{%- endmacro %}
