{% macro render_entries(entries) %}
  {% if entries|length > 0 %}
    <ul class="entries section no-bullets">

      {% for entry in entries %}
        <li class="entry-item entry-{{ entry.object.id }}">
          <div class="entry-header font-12">
            <p class="floatleft alignleft">
              <span class="entry-author bold">( ͡º ͜ʖ͡º)</span>
            </p>
            <p class="floatright alignright">
              <span class="votebox">
                <button class="default votebox-option votebox-up" onclick="votebox_vote('entry', {{ entry.object.id }}, 'up')">+{{ entry.object.votes_up }}</button>
                <button class="default votebox-option votebox-down" onclick="votebox_vote('entry', {{ entry.object.id }}, 'down')">-{{ entry.object.votes_down }}</button>
              </span>
              <span class="entry-date">{{ entry.created_at }}</span>
            </p>
            <div class="clear"></div>
          </div>
          <p class="alignleft font-14">{{ entry.content|safe }}</p>
          <div class="entry-footer font-12">
            <p class="floatright alignright"><a class="default" href="{{ url_for('single_entry', entry_id=entry.object.id) }}">Odpowiedzi: {{ entry.comments_count }}</a></p>
          </div>
        </li>
      {% endfor %}

    </ul>
  {% else %}
    <p class="margin-top-15 margin-bottom-15 font-14">Brak wpisów</p>
  {% endif %}
{% endmacro %}

{% macro render_comments(comments) %}
  {% if comments|length > 0 %}
  <ul class="comments no-bullets">
    {% for comment in comments %}
    <li class="comment-item comment-{{ comment.object.id }}">
      <div class="comment-header font-12">
        <p class="floatleft alignleft"><span class="comment-author bold">( ͡º ͜ʖ͡º)</span></p>
        <p class="floatright">
          <span class="votebox bold">
            <button class="votebox-option votebox-up" onclick="votebox_vote('comment', {{ comment.object.id }}, 'up')">+{{ comment.object.votes_up }}</button>
            <button class="votebox-option votebox-down" onclick="votebox_vote('comment', {{ comment.object.id }}, 'down')">-{{ comment.object.votes_down }}</button>
          </span>
          <span class="comment-date">{{ comment.created_at }}</span>
        </p>
        <div class="clear"></div>
      </div>
      <p class="comment-content font-14">{{ comment.content|safe }}</p>
      <p class="comment-actions alignright font-12"></p>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p class="margin-top-15 margin-bottom-15 font-14">Brak komentarzy</p>
  {% endif %}
{% endmacro %}

{% macro render_popular_hashtags(hashtags) %}
  <p class="popular-hashtags font-12">
    {% for hashtag in hashtags %}
      {{ hashtag.content|safe }}<span class="popular-hashtags-count font-10">({{ hashtag.object.count }})</span>
    {% endfor %}
  </p>
{% endmacro %}

{% macro render_pagination(pagination) %}
  <div class="pagination font-14 margin-bottom-15">
    {% if pagination.has_prev %}
      <a class="pagination-button default" href="{{ url_for_other_page(pagination.page_number - 1) }}">Poprzednia</a>
    {% endif %}

    {% for page_number in pagination.iter_pages() %}
      {% if page_number %}
        {% if page_number != pagination.page_number %}
          <a class="pagination-button default" href="{{ url_for_other_page(page_number) }}">{{ page_number }}</a>
        {% else %}
          <span class="pagination-button pagination-selected">{{ page_number }}</span>
        {% endif %}

      {% else %}
        <span class="ellipsis">…</span>
      {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
      <a class="pagination-button default" href="{{ url_for_other_page(pagination.page_number + 1) }}">Następna</a>
    {% endif %}
  </div>
{% endmacro %}
