{% extends 'global_layout.html' %}
{% import('user/macros.html') as macros %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type="text/javascript" src="{{ url_for('static', filename='votebox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='posted.js') }}"></script>
{% endblock %}

{% block popular_hashtags %}
  {{ macros.render_popular_hashtags(p_popular_hashtags) }}
{% endblock %}

{% block recommended_hashtags %}
  {{ macros.render_recommended_hashtags(p_recommended_hashtags) }}
{% endblock %}

{% block menu %}
<a class="default" href="{{ url_for('main') }}">najnowsze</a> |
<a class="default" href="{{ url_for('main_top') }}">top plusowane</a> |
<a class="default bold" href="{{ url_for('present_post_entry_view') }}">dodaj wpis</a> |
<a class="default" href="{{ url_for('faq') }}">co to ta szafa takiego?</a>
{% endblock %}

{% block body %}{% endblock %}
