{% extends 'user/master_layout.html' %}
{% import('user/macros.html') as macros %}

{% block body %}
  {{ macros.render_entries([p_entry], True) }}

  <div class="section">
    <p class="floatleft font-20">Komentarze ({{ pagination.total_count }})</p>
    <p class="floatright font-12">
      <a class="default {{ 'selected' if comments_order == 'asc' }}" href="{{ url_for('single_entry', entry_id=p_entry.object.id, comments_order='asc', excerpt=p_entry.excerpt_for_url) }}">Najstarsze</a> |
      <a class="default {{ 'selected' if comments_order == 'desc' }}" href="{{ url_for('single_entry', entry_id=p_entry.object.id, comments_order='desc', excerpt=p_entry.excerpt_for_url) }}">Najnowsze</a>
    </p>
    <div class="clear"></div>
  </div>
  {{ macros.render_comments(p_comments) }}
  {{ macros.render_pagination(pagination) }}

  {% if error %}
    <p class="margin-top-15 margin-bottom-15 error">{{ error }}</p>
  {% endif %}

  {% if success %}
    <p class="margin-top-15 margin-bottom-15 success">{{ success }}</p>
  {% endif %}

  <form class="add-comment" action="{{ url_for('single_entry', entry_id=p_entry.object.id, comments_order=comments_order, excerpt=p_entry.excerpt_for_url) }}" method="POST">
    <textarea class="clean alignleft font-14 full-width" name="content" placeholder="Napisz komentarz">{{ comment_content }}</textarea>
    <div class="alignright">
      <input class="font-14 bold" type="submit" value="Dodaj">
    </div>
  </form>

  {{ macros.render_token(op_token) }}

  <div class="op margin-bottom-15 margin-top-15 font-12">
    <p style="padding: 5px;">W tym kolorze prezentowane są odpowiedzi
      @op (original poster) - osoba, która napisała ten wpis.
    </p>
  </div>

  <div class="you margin-bottom-15 margin-top-5 font-12">
    <p style="padding: 5px;">W tym kolorze prezentowane są odpowiedzi
      napisane przez ciebie (takie, które posiadają informację o twoim aktualnym tokenie).
      Więcej o tokenie przeczytasz <a class="default bold selected" href="{{ url_for('post_entry') }}">tutaj</a>.
      Tylko ty widzisz twoje wpisy/komentarze oznaczone tym kolorem.
    </p>
  </div>
{% endblock %}
