{% import('layout/favicon.html') as fi %}
{% import('layout/ga.html') as ga %}
{% import('layout/styles.html') as styles %}
{% import('layout/js_files.html') as jsf %}
{% import('layout/meta.html') as meta %}
{% import('layout/nav.html') as nav %}

{% import('web/macros.html') as macros %}

<!doctype_html>
<head>
  {{ jsf.add_files() }}
  {{ ga.add_ga() }}
  {{ fi.add_favicon() }}
  {{ styles.add_styles() }}
  {{ meta.add_meta() }}

  <title>Miejsce anonimowych wyznań i dyskusji w sieci - Spowiedź w szafie</title>
  <meta name="description" content="Chcesz napisać coś anonimowo lub przeczytać
    wyznania innych i podyskutować? To świetne miejsce dla ciebie!">
</head>

<body>
  <div class="page">
    {{ nav.add_nav(user_notifications_count) }}

    {% if p_recommended_hashtags %}
      {{ macros.render_recommended_hashtags(p_recommended_hashtags) }}
    {% endif %}

    <p class="section font-28">{{ title }}</p>
    {% block body %}{% endblock %}

    {% if p_popular_hashtags %}
      <p class="section font-28">Popularne tagi</p>
      {{ macros.render_popular_hashtags(p_popular_hashtags) }}
    {% endif %}
  </div>
</body>
