{% macro add_nav(user_notifications_count) %}
<div class="nav-bar font-14">
  <p alignleft><a class="clean" href="{{ url_for('main') }}">
    ( ͡º ͜ʖ͡º) spowiedzwszafie.pl - <span class="font-12">anonimowo o wszystkim, wesołe,
      krępujące, wstydliwe wyznania.</span></a>
  </p>
  <p class="menu alignleft">
    <p>
      <a class="default" href="{{ url_for('main') }}">najnowsze</a> |
      <a class="default" href="{{ url_for('main_top') }}">top plusowane</a> |
      <a class="default" href="{{ url_for('faq') }}">co i jak?</a>
    </p>
    <p class="" style="border-top: 1px; border-color: #DDDDDD; border-style: solid; padding-top: 10px; margin-top: 10px;">
      <a class="default bold" href="{{ url_for('present_post_entry_view') }}">dodaj wpis</a> |

      <a class="default
        {% if user_notifications_count > 0 %}bold important-info{% endif %}"
        href="{{ url_for('show_notifications') }}">powiadomienia ({{ user_notifications_count }})</a> |

      <a class="default" href="{{ url_for('show_user_settings') }}">ustawienia</a>
    </p>
  </p>
</div>
{% endmacro %}
