.nav-bar { margin-top: 10px; }
.menu { margin-top: 10px; }
.error { color: red;}
.success { color: green; }
.page { width: 590px; margin: 0 auto; }

.popular-hashtags { font-size: 13px; line-height: 20px; }
.popular-hashtags a { margin: 0px 2px 0px 4px; }
.popular-hashtags-count { color: #BBB;}

.recommended-hashtags a:first-child { margin-left: 0px; }
.recommended-hashtags a { margin: 0px 5px 0px 5px; }

.border-default { border: 1px solid #EAEAEA; }
.border-shadow {
  border: 1px solid #EAEAEA;
  border-top-width: 0.5px;
  border-bottom-width: 2.5px;
  border-bottom-color: #F0F0F0;
}

.link { color: #008CFF !important; }

/* entries and comments */
.posted {
  padding: 8px;
  margin-top: 15px;
  background-color: #fff;
}

.posted:first-child { margin-top: 0px; }
.posted:last-child { margin-bottom: 15px; }
.posted .header td { vertical-align: top; }
.posted .header .author { color: #999999; }
.posted .header .date { color: #CCCCCC; }
.posted .header .votebox button { padding: 4px 5px; border: 1px solid #E5E5E5; }
.posted .header .votebox button:hover { background-color: #F1F1F1; }
.posted .header .votebox button:active { background-color: #E5E5E5; }
.posted .header .votebox button:disabled { opacity: 0.5; pointer-events: none; }
.posted .header .votebox .votebox-up { color: green; }
.posted .header .votebox .votebox-down { color: red; }
.posted .header .votebox .selected { background-color: #F1F1F1; pointer-events: none; }
.posted .footer a { color: #999999 !important; }
.posted .show-on-hover { display: none; }
.posted:hover .show-on-hover { display: block; }

/* original poster elements */
.op { border: 2px solid #FF6534 !important;}
.op .author { color: #FF6534 !important; font-weight: bold; }

.you { border: 2px solid #7FB191 !important; }
.you .author { color: #7FB191 !important; font-weight: bold; }

.op-posted-color { color: #FF6544; }
.you-posted-color { color: #7FB191; }
.def-posted-color { color: #EAEAEA; }


/* forms */
form input[type="submit"] {
  padding: 4px 5px;
  background-color: transparent;
  border: 1px solid #E5E5E5;
  margin: 0;
}

form textarea {
  color: #4F4F4F;
  margin: 20px 0px 10px 0px;
  border: 1px solid #EEE;
  padding: 15px;
}

form.add-entry textarea, form.add-comment textarea {
  height: 120px;
}

form.new-op-user-token { display: none; }
form.new-op-user-token textarea {
  height: 24;
  padding: 5px;
  margin: 0;
  resize: none;
  line-height: 12px;
}

form.add-comment { border-top: 1px solid #C8C8C8; }

/* pagination */

.pagination {
  padding: 5px 0px 5px 0px;
}

.pagination-button {
  padding: 5px;
  color: #999 !important;
  box-sizing: border-box;
}

.pagination-button:hover {
  text-decoration: none !important;
  color: #333 !important;
  background-color: #DDD;
}

.pagination-selected {
  color: #008CFF !important;
  font-weight: bold;
  background-color: #EEE;
}
