{% extends 'layout/layout.html' %}
{% block body %}

<div class="font-14">
  <p class="bold">Po co powstała szafa?</p>
  <p>Wyznania, tajemnice, problemy w związku, wstyd, żal, nerwy, ulga?
    Chcesz napisać coś anonimowo, przeczytać wyznania innych i podyskutować?
    Dobrze trafiłeś! </p><br/>

  <p>Szafa powstała po to, abyś mógł/mogła anonimowo podzielić
    się tym co myślisz, tym co cię trapi lub denerwuje. Dzięki byciu anonimowym
    możesz swobodnie prowadzić dyskusje na tematy, które cię krępują.
  </p>

  <p class="bold margin-top-15">Czy potrzebuję założyć konto, aby móc się wyspowiadać?</p>
  <p>Nie potrzebujesz zakładać konta.</p>

  <p class="bold margin-top-15">Czy dostanę rozgrzeszenie?</p>
  <p>Oczywiście... ( ͡º ͜ʖ͡º)</p>

  <p class="bold margin-top-15">Czy jest to ostateczna wersja serwisu?</p>
  <p>Nie. Serwis jest ciągle rozbudowywany, a więc czasami może być mniej
    stabilny. Proszę o cierpliwość :)
  </p>

  <p class="bold margin-top-15">Czy dostanę powiadomienie jeśli ktoś odpisze w moim wpisie?</p>
  <p>Tak. Jeśli nie zmienisz tokena będziesz otrzymywał powiadomienia o komentarzach pod twoim wpisem.
    Więcej o tokenie przeczytasz tutaj: <a class="default bold selected" href="{{ url_for('show_your_token_settings') }}">twój token</a>.</p>

  <p class="bold margin-top-15">Czy dostanę powiadomienie jeśli ktoś wspomni
    numer mojego komentarza pod wpisem lub czy mogę kogoś powiadomić, że odpowiadam
    na jego komentarz?</p>
  <p>Tak. Jeśli chcesz odpowiedzieć na konkretny komentarz i chciałbyś,
    żeby autor tego komentarza dostał powiadomienie, możesz użyć numeru tego komentarza.<br/>
    Przykład - "@3: Masz rację." - 3 jest komentarzem nr 3. Wszystkie komentarze są numerowane.</p>

  <p class="bold margin-top-15">Czy mogę obserwować tagi i/lub dostawać powiadomienia o nowych wpisach z takim tagiem?</p>
  <p>Trwają prace nad wprowadzeniem takiej funkcjonalności. Obecnie możesz dostawać powiadomienia o nowych komentarzach pod twoimi wpisami.</p>

  <p class="bold margin-top-15">Niektóre wpisy mają kolorowe ramki. Co oznaczają?</p>
  <p>Kolor <span class="bold op-posted-color">czerwony</span> oznacza wpis/komentarz osoby, która
    dodała oryginalny wpis (w widoku pojedynczego wpisu.
    Kolor <span class="bold you-posted-color">zielony</span> symbolizuje twoje wpisy.
    Tylko ty widzisz je w tym kolorze. Dla innych osób będzie posiadał szarą ramkę.
    Kolor <span class="bold" style="color: #AAA;">szary</span> mają wszystkie inne wpisy, które nie
    należą do ciebie oraz do osoby, która napisała wpis (główny).
  </p>

  <p class="bold margin-top-15">Czy mogę załączać obrazki albo filmy?</p>
  <p>Obecnie szafa nie wspiera załączania jakichkolwiek plików. Możesz jednakże
    dodać do wpisu link do zdjęcia lub filmu.
  </p>

  <p class="bold margin-top-15">Skad wzięła się inspiracja?</p>
  <p>Projekt zainspirowany fragmentem filmu "Miś" i odsłuchiwaniem
    spowiedzi nagrywanych za pomocą szafy :)
  </p>
  <p class="margin-top-15 margin-bottom-15">
    <iframe style="width: 100%; height: 450px;" src="https://www.youtube.com/embed/fWlfG24Uix4"
    frameborder="0" allowfullscreen>
    </iframe>
  </p>

</div>

{% endblock %}

<!-- <p class="bold">Pytanie</p>
<p class="margin-bottom-15">Odpowiedz</p> -->
