{% macro render_entries(entries, is_single_entry_view) %}
  {% if entries|length > 0 %}
    <ul class="entries no-bullets">
      {% for entry in entries %}
        <!-- Posted  -->
        <li class="posted border-shadow entry-{{ entry.object.id }}
                   {% if is_single_entry_view %} op {% endif %}
                   {% if entry.object.cur_user_is_author %} you {% endif %}
                   {% if entry.object.votes_down - entry.object.votes_up > 5 %} opacity-low {% endif %}">

          <!-- Header -->
          <table class="header font-12 full-width">
            <tr>
              <td class="alignleft">
                <!-- Author -->
                <div class="author">( ͡º ͜ʖ͡º)</div>
                <!-- Date -->
                <div class="date font-10 margin-top-5">{{ entry.created_at }}</div>
              </td>

              <td class="alignright">
                <!-- Votebox -->
                <div class="votebox">
                  <button class="votebox-up bold
                    {% if entry.object.cur_user_vote == 'up' %} selected {% endif %}"
                    onclick="votebox_vote('entry', {{ entry.object.id }}, 'up')">+{{ entry.object.votes_up }}
                  </button>
                  <button class="votebox-down bold
                    {% if entry.object.cur_user_vote == 'down' %} selected {% endif %}"
                    onclick="votebox_vote('entry', {{ entry.object.id }}, 'down')">-{{ entry.object.votes_down }}
                  </button>
                </div>
              </td>
            </tr>
          </table>

          <!-- Content  -->
          <p class="alignleft font-14 margin-top-5 margin-bottom-15">{{ entry.content|safe }}</p>

          <!-- Footer -->
          <table class="footer font-12 full-width">
            <tr>
              <td class="alignleft show-on-hover">
                <a class="default" href="#" onclick="copyToClipboard(window.location.protocol + '//' + window.location.hostname + '{{ url_for('single_entry', entry_id=entry.object.id, excerpt=entry.excerpt_for_url) }}');">link</a> |

                <a class="default follow-entry-toggle"
                  href="#"
                  onclick="toggle_follow_entry({{ entry.object.id }})">
                  {% if entry.object.cur_user_follow %}
                  nie obserwuj
                  {% else %}
                  obserwuj
                  {% endif %}
                </a>
              </td>

              <td class="alignright">
                <a class="default" href="{{ url_for('single_entry', entry_id=entry.object.id, excerpt=entry.excerpt_for_url) }}">komentarzy: {{ entry.comments_count }}</a>
              </td>
            </tr>
          </table>
        </li>
      {% endfor %}

    </ul>
  {% else %}
    <p class="margin-top-15 margin-bottom-15 font-14">Brak wpisów</p>
  {% endif %}
{% endmacro %}


{% macro render_comments(comments) %}
  {% if comments|length > 0 %}
  <ul class="comments no-bullets">
    {% for comment in comments %}
    <!-- Posted  -->
    <li class="posted border-shadow comment-{{ comment.object.id }}
               {% if comment.object.entry_author_is_comment_author %} op {% endif %}
               {% if comment.object.cur_user_is_author %} you {% endif %}
               {% if comment.object.votes_down - comment.object.votes_up > 5 %} opacity-low {% endif %}">

      <!-- Header -->
      <table class="header font-12 full-width">
        <tr>
          <td class="alignleft">
            <!-- Author -->
            <div class="author">( ͡º ͜ʖ͡º)</div>
            <!-- Date -->
            <div class="date font-10 margin-top-5">{{ comment.created_at }}</div>
          </td>

          <td class="alignright">
            <!-- Votebox -->
            <div class="votebox">
              <button class="votebox-up bold
                {% if comment.object.cur_user_vote == 'up' %} selected {% endif %}"
                onclick="votebox_vote('comment', {{ comment.object.id }}, 'up')">+{{ comment.object.votes_up }}
              </button>
              <button class="votebox-down bold
                {% if comment.object.cur_user_vote == 'down' %} selected {% endif %}"
                onclick="votebox_vote('comment', {{ comment.object.id }}, 'down')">-{{ comment.object.votes_down }}
              </button>
            </div>
          </td>
        </tr>
      </table>

      <!-- Content  -->
      <p class="alignleft font-14 margin-top-5">{{ comment.content|safe }}</p>

      <!-- Footer -->
      <div class="footer font-12 alignright">
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p class="margin-top-15 margin-bottom-15 font-14">Brak komentarzy</p>
  {% endif %}
{% endmacro %}


{% macro render_popular_hashtags(hashtags) %}
  <p class="popular-hashtags margin-bottom-15">
    {% for hashtag in hashtags %}
      {{ hashtag.content|safe }}<span class="popular-hashtags-count font-14">({{ hashtag.object.count }})</span>
    {% endfor %}
  </p>
{% endmacro %}


{% macro render_recommended_hashtags(hashtags) %}
  <p class="recommended-hashtags margin-top-15">
    {% for hashtag in hashtags %}
      {{ hashtag.content|safe }}
    {% endfor %}
  </p>
{% endmacro %}


{% macro render_pagination(pagination) %}
  <div class="pagination font-14 margin-bottom-15">
    {% if pagination.has_prev %}
      <a class="pagination-button default" href="{{ url_for_other_page(pagination.page_number - 1) }}">Poprzednia</a>
    {% endif %}

    {% for page_number in pagination.iter_pages() %}
      {% if page_number %}
        {% if page_number != pagination.page_number %}
          <a class="pagination-button default" href="{{ url_for_other_page(page_number) }}">{{ page_number }}</a>
        {% else %}
          <span class="pagination-button pagination-selected">{{ page_number }}</span>
        {% endif %}

      {% else %}
        <span class="ellipsis">…</span>
      {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
      <a class="pagination-button default" href="{{ url_for_other_page(pagination.page_number + 1) }}">Następna</a>
    {% endif %}
  </div>
{% endmacro %}


{% macro render_token(op_token) %}
    <div class="margin-top-15 font-12">
      <p class="bold margin-bottom-5">Twój token: {{ op_token }}</p>
      <a class="default selected" href="{{ url_for('show_your_token_settings') }}">Dowiedz się czym jest token</a>.
    </div>
{% endmacro %}


{% macro render_user_notifications(user_notifications) %}
  {% if user_notifications|length > 0 %}
    <ul class="user-notifications no-bullets">
    {% for notification in user_notifications %}
      <ul class="posted user-notification-{{ notification.object.id }}">
        <p class="font-12 alignleft"><a class="default" href="{{ notification.see_link }}">{{ notification.content }}</a></p>
        <p class="font-10 alignright">{{ notification.created_at }}</p>
      </ul>
    {% endfor %}
    </li>
  {% else %}
    <p class="margin-top-15 margin-bottom-15 font-14">Brak powiadomień</p>
  {% endif %}
{% endmacro %}
