{% extends 'layout/layout.html' %}
{% import('web/macros.html') as macros %}

{% block body %}

  {% if error %}
    <p class="margin-top-15 margin-bottom-15 error">{{ error }}</p>
  {% endif %}

  <div class="token font-12">
    <p class="font-14 margin-top-15 bold">> {{ user_token }}</p>
    <p class="margin-top-15">
      <a class="default selected" href="{{ url_for('generate_token') }}">Wygeneruj nowy token</a> lub
      <a class="default selected" href="#" onclick="document.getElementById('new-op-user-token').style.display = 'block';">użyj istniejącego</a>.
    </p>

    <form id="new-op-user-token" class="new-op-user-token margin-top-15" action="{{ url_for('change_token') }}" method="POST">
      <textarea class="clean alignleft font-12 full-width" name="user_op_token" placeholder="Twój token z innego urządzenia lub przeglądarki"></textarea>
      <input class="margin-top-5" type="submit" value="Użyj"/>
    </form>
  </div>

  <div class="font-14">
    <p class="bold margin-top-15">Czym jest token i czy mogę go zmienić?</p>
    <p class="margin-top-5">Token to identyfikator, który umożliwia grupowanie wpisów
      i komentarzy użytkownika zachowując jego anonimowość.</p>

    <p class="margin-top-15">Token widoczny jest tylko dla Ciebie.</p>

    <p class="margin-top-15 bold underline">Po wygenerowaniu tokenu będziesz postrzegany przez stronę jako nowy użytkownik.</p>

    <p class="margin-top-15">Każda przeglądarka internetowa generuje unikalny token i zapisuje go
      w ciasteczkach. Jeśli chciałbyś napisać komentarz z innej przeglądarki
      niż obecnie używana, oraz chciałbyś pozostać przy tym identyfikowany jako ten sam użytkownik,
      musisz skopiować ten token i wpisać go w innej przeglądarce/urządzeniu w tym widoku po wciśnięciu "użyj istniejącego".</p>

  </div>
{% endblock %}
