{% extends 'layout/layout.html' %}
{% import('web/macros.html') as macros %}

{% block body %}
{% if error %}
  <p class="margin-top-15 margin-bottom-15 error">{{ error }}</p>
{% endif %}

<!-- General -->
<p class="font-20 section">Ogólne</p>
<div class="margin-top-15 font-14">
  <p>
    <input id="mark-my-posts" type="checkbox" name="mark-my-posts" class="margin-right-10"
      {% if user_settings.mark_my_posts == True %} checked {% endif %}
      onchange="toggleMarkMyPosts()">Wyróżniaj moje wpisy
  </p>
  <p class="font-12 margin-top-5 color-999999">Opcja ta pozwala na oznaczenie postów napisanych przez
    Ciebie osobnym kolorem dzięki czemu wpisy i komentarze przegląda się
    łatwiej. Podświetlenie to widoczne jest tylko dla Ciebie. Jeśli jednak
    nie chcesz, aby twoje komentarze były podświetlane, możesz wyłączyć tą
    opcję.</p>
</div>
<!-- End General -->

<!-- Token -->
<p class="font-20 section">Token</p>
<div class="token font-14">
  <p>Twój token: {{ user_token }}</p>
  <!-- Generate Token -->
  <div class="margin-top-15">
    <a class="default margin-top-15" href="{{ url_for('generate_token') }}">Wygeneruj nowy token</a>
    <p class="font-12 margin-top-5 color-999999">Token to identyfikator, który
      umożliwia grupowanie wpisów i komentarzy użytkownika zachowując jego
      anonimowość - Token widoczny jest tylko dla Ciebie. Po wygenerowaniu tokenu
      będziesz postrzegany przez stronę jako nowy użytkownik.</p>
  </div>
  <!-- End Generate Token -->

  <!-- Use Existing Token -->
  <div class="margin-top-15">
    <a class="default" onclick="document.getElementById('new-op-user-token').style.display = 'block';">Użyj istniejącego</a>.
    <form id="new-op-user-token" class="new-op-user-token margin-top-15" action="{{ url_for('change_token') }}" method="POST">
      <textarea class="clean alignleft font-12 full-width" name="user_op_token" placeholder="Twój token z innego urządzenia lub przeglądarki"></textarea>
      <input class="margin-top-5" type="submit" value="Użyj"/>
    </form>
    <p class="font-12 margin-top-5 color-999999">Każda przeglądarka internetowa generuje unikalny
      token i zapisuje go w ciasteczkach. Jeśli chciałbyś napisać komentarz z innej
      przeglądarki niż obecnie używana, oraz chciałbyś pozostać przy tym
      identyfikowany jako ten sam użytkownik, musisz skopiować ten token i
      wpisać go w innej przeglądarce/urządzeniu w tym widoku po wciśnięciu
      "użyj istniejącego".</p>
  </div>
  <!-- End Use Existing Token -->

</div>
<!-- End Token -->
{% endblock %}
