form {
  /*background-color: #333;*/
}

form textarea {
  text-align: left;
  color: #4F4F4F;
  font-size: 20px;
  line-height: 23px;
  width: 100%;
  height: 120px;
  margin: 0;
  border: 0;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

form .button-row {
  text-align: right;
  margin-top: 10px;
}

form .button {
    border: 0px;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
