.entries {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.entry-item {
  margin-bottom: 50px;
}

.entry-header {
  text-align: right;
  color: #C8C8C8;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.entry-header a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.entry-header a:hover {
  text-decoration: underline;
}

.entry-header .comments-count {
  font-weight: bold;
}

.entry-content {
  text-align: left;
  color: #4F4F4F;
  font-size: 20px;
  line-height: 23px;
  margin-top: 5px;
}
