html, body, h1, h2, h3, p, ol, ul, li, a, textarea {
  padding: 0; border: 0; margin: 0;
  font-family: 'Lucida Grande', serif;
  color: #000;
}

.floatleft { float: left }
.floatright { float: right }
.clear { clear: both }

.alignleft { text-align: left; }
.alignright { text-align: right; }

.font-12 { font-size: 12px; line-height: 14px; }
.font-14 { font-size: 14px; line-height: 18px; }
.font-20 { font-size: 20px; line-height: 24px; }
.font-28 { font-size: 28px; line-height: 32px; }

.bold { font-weight: bold; }

.full-width { width: 100%; }

.section { margin-top: 60px; }

/* type specific */
a.default { color: #4F4F4F; text-decoration: none;}
a.default:hover { text-decoration: underline; }

ul.no-bullets { list-style-type: none }

textarea.clean { outline: none; resize: vertical; box-sizing: border-box; }

/* master */
body { background-color: #fff; }
.nav-bar { margin-top: 10px; }
.menu { margin-top: 10px; }
.error { color: red; margin-bottom: 40px; }
.page { width: 590px; margin: 0 auto; }

.hashtag { color: #008CFF !important; }

/* entries */
.entry-item { margin-bottom: 20px; border: 1px solid #EEE; padding: 15px;}
.entry-header, .entry-footer { color: #C8C8C8; margin-bottom: 5px; }
.entry-header p, .entry-footer p { color: inherit; }
.entry-header a, .entry-footer a { color: inherit; font-weight: bold; }
.entries-no-content { margin: 15px 0px 15px 0px; }

/* comments */
.comments { margin-top: 20px; }
.comment-item { margin-bottom: 20px; border: 1px solid #DDD; padding: 15px; background-color: #EEE; }
.comment-date { color: #777; }
.comment-content { margin-top: 8px; }
.comment-actions { color: #777; }
.comments-no-content { margin: 15px 0px 15px 0px; }

/* forms */
form.add-entry textarea, form.add-comment textarea {
  color: #4F4F4F;
  height: 120px;
  margin: 20px 0px 10px 0px;
}

form.add-comment {
  border-top: 1px solid #C8C8C8;
}
