body {
  background-color: #fff;
  font-family: 'Lucida Grande';
  color: #000;
}

.page {
  width: 400px;
  /*background: #ccc;*/
  margin: 0 auto;
}

.nav-bar {
  margin-top: 10px;
  text-align: right;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #4F4F4F;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page_title {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 28px;
}

.entries {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.entry-item {
  margin-bottom: 50px;
}

.entry-header {
  text-align: right;
  color: #C8C8C8;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.entry-content {
  text-align: left;
  color: #4F4F4F;
  font-size: 20px;
  line-height: 23px;
  margin-top: 5px;
}

.hashtag {
  color: #008CFF;
}

/* error */
.error {
  color: red;
  margin-bottom: 40px;
}

/* add.html */
form {
  /*background-color: #333;*/
}

form textarea {
  text-align: left;
  color: #4F4F4F;
  font-size: 20px;
  line-height: 23px;
  width: 100%;
  height: 120px;
  margin: 0;
  border: 0;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

form .button-row {
  text-align: right;
  margin-top: 10px;
}

form .button {
    border: 0px;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
