{% extends 'global_layout.html' %}

{% block body %}

  {% if error %}
    <p class="margin-top-15 margin-bottom-15 error">{{ error }}</p>
  {% endif %}

  <form class="admin-login full-width" action="{{ url_for('admin_login') }}" method="POST">
    <input class="full-width margin-top-15 clean" type="text" name="username" placeholder="Nazwa użytkownika" value="{{ username|default("", True) }}" autofocus>
    <input class="full-width clean" type="password" name="password" placeholder="Hasło" value="{{ password|default("", True) }}">
    <div class="alignright">
      <input type="submit" value="Zaloguj">
    </div>
  </form>
{% endblock %}
